@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.main{
    display: flex;
    text-align: center;
   }
.parkInfo{
    padding-left: 3em;
    padding-right: 10em;
    text-align: center;
}
.parkName{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    background-color: rgb(162, 165, 164);
       
}
.parkLogo{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
       
       
}
.parkServiceList{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}
.parkAreas{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
  
       
}
.parkAreaList{
    font-family: 'Aboreto', cursive;
    font-size: large;
    background-color: rgb(162, 165, 164);
    display: flex;
    flex-flow: wrap;
    padding-top: 1em;
    padding-bottom: 1em;
}
.areas{
    padding-top: 1em;
    padding-bottom: 1em;
    border-style: solid;
    border-color: green; 
    text-align: center;    
}
.parkGuests{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;        
}
.parkGuestList{
    font-family: 'Aboreto', cursive;
    font-size: medium;
    background-color: rgb(162, 165, 164);
    display: flex;
    flex-flow: wrap;
    padding-top: 1ex;
    padding-right: 1em;
    text-align: center;
 }

.contactUs{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    text-align: center;
    }
.contactInfo{
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    background-color: rgb(162, 165, 164);
    text-align: center;
}
.area_guests{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right: 5em; 
}